---
layout: default
---

<link rel="stylesheet" href="/js/highlighter/sansofobs.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title">
		  <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%b %-d, %Y" }}</p>
        {{ content }}
	{% include disqus.html %}
    </div>
{% include about.html %}
</div>
<script src="/js/highlighter/prettify.js"></script> 
<script src="/js/post.js" type="text/javascript"></script>

