---
layout: default
---

<link rel="stylesheet" href="/js/highlighter/sansofobs.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title">
		  <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%b %-d, %Y" }}</p>
        {{ content }}

        <div id="disqus_container">
            <div style="margin-bottom:20px" class="right">
			 <wb:share-button appkey="4Yod2p" addition="simple" type="button" ralateUid="3960733160"></wb:share-button>
            </div>
            <a href="#" class="comment" onclick="return false;">点击查看评论</a>
            <div id="disqus_thread"></div>
        </div>
    </div>

    <div class="sidenav">
	  <iframe width="350" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=350&height=75&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=1&uid=3960733160&verifier=24f3b615&dpc=1"></iframe>
	</div>

    <div class="sidenav">
        <h2>所有文章</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
           <div class="alist-title">
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            </div>
        {% endfor %}
        </ul>

        <h2>Opinion</h2>
        <ul class="artical-list">
        {% for post in site.categories.opinion%}
           <div class="alist-title">
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            </div>
        {% endfor %}
        </ul>

        <h2>Project</h2>
        <ul class="artical-list">
        {% for post in site.categories.project%}
           <div class="alist-title">
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            </div>
        {% endfor %}
        </ul>
    </div>
</div>
<script src="/js/highlighter/prettify.js"></script> 
<script src="/js/post.js" type="text/javascript"></script>

